@import "rejilla-responsive-sass";

* {
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header{
  background-color: orange;
  h1{
      font-size: 4em;
      text-align: center;
      padding-bottom: 20px;
  }
 
  p{
      text-align: left;
  }
}

nav{
color: white;
  ul{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-items: stretch;
    row-gap: 10px;
    height: 50%;
  }

  li{
    display: flex;
    text-align: center;
    background-color: rgb(255, 208, 0);
    align-items: center;
    justify-content: center;
  }
}

aside{
  color: white;
  background-color: rgb(236, 75, 0);
  p{
    padding: 50px;
  }
}

footer{
  color: white;
  background-color: orange;
  p{
    padding-top: 20px;
    padding-bottom: 40px;
  }

  div{
    display: flex;
    justify-content: center;
  }

  img{
    width: 50px;
    padding: 5px;
  }
}

.animal{
  img{
    width: 70%;
  }

  p{
    padding: 10px;
  }
}

@include breakpoint(nth(map-get($breakpoints,"sm"),1),nth(map-get($breakpoints,"sm"),2)){
    /* Ejemplo de uso media query para resoluciones MD */
  } 

 @include breakpoint(nth(map-get($breakpoints,"md"),1),nth(map-get($breakpoints,"md"),2)){
   /* Ejemplo de uso media query para resoluciones LG */
  } 

 @include breakpoint(nth(map-get($breakpoints,"lg"),1),nth(map-get($breakpoints,"lg"),2)){
    /* Ejemplo de uso media query para resoluciones XL */
  }   

  @media screen and (min-width: 480px) and (max-width: 767px) {
    .col-sm-12{ grid-column-end:span 12; }
    .col-sm-11{ grid-column-end:span 11; }
    .col-sm-10{ grid-column-end:span 10; }
    .col-sm-9 { grid-column-end:span 9; }
    .col-sm-8 { grid-column-end:span 8; }
    .col-sm-7 { grid-column-end:span 7; }
    .col-sm-6 { grid-column-end:span 6; }
    .col-sm-5 { grid-column-end:span 5; }
    .col-sm-4 { grid-column-end:span 4; }
    .col-sm-3 { grid-column-end:span 3; }
    .col-sm-2 { grid-column-end:span 2; }
    .col-sm-1 { grid-column-end:span 1; }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .col-md-12{ grid-column-end:span 12; }
    .col-md-11{ grid-column-end:span 11; }
    .col-md-10{ grid-column-end:span 10; }
    .col-md-9 { grid-column-end:span 9; }
    .col-md-8 { grid-column-end:span 8; }
    .col-md-7 { grid-column-end:span 7; }
    .col-md-6 { grid-column-end:span 6; }
    .col-md-5 { grid-column-end:span 5; }
    .col-md-4 { grid-column-end:span 4; }
    .col-md-3 { grid-column-end:span 3; }
    .col-md-2 { grid-column-end:span 2; }
    .col-md-1 { grid-column-end:span 1; }
}

@media screen and (min-width: 1024px) {
    .col-lg-12{ grid-column-end:span 12; }
    .col-lg-11{ grid-column-end:span 11; }
    .col-lg-10{ grid-column-end:span 10; }
    .col-lg-9 { grid-column-end:span 9; }
    .col-lg-8 { grid-column-end:span 8; }
    .col-lg-7 { grid-column-end:span 7; }
    .col-lg-6 { grid-column-end:span 6; }
    .col-lg-5 { grid-column-end:span 5; }
    .col-lg-4 { grid-column-end:span 4; }
    .col-lg-3 { grid-column-end:span 3; }
    .col-lg-2 { grid-column-end:span 2; }
    .col-lg-1 { grid-column-end:span 1; }
}