footer {
    background-color: $secondary-background-color;
    color: white;
    font-family: inherit;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .nombre {
        justify-self: end;
    }
}