$primary-background-color: #0b192f;
$secondary-background-color: #162b4d;
$primary-color: #657895;
$red: #b71757;
$pink: #d12766;
$green: #0d7e71;
$orange: #b1660e;
$blue: #2d95bb;
$font: "Roboto";
$base-tam: 1em;