#main-slider {
    position: relative;
    background: url('../css/img/banner/banner.jpg') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 400px;
    padding: $tam-base;
    color: #fff;

    h2 {
      font-size: 2.2em;
      text-align: center;
      background-color: $azul-claro;
      padding: 15px;
    }
    
    p {
      font-size: 1.2em;
      margin: 20px;
      text-align: right;
    }
    
    a  {
      background: $azul-claro;
      padding: 20px;
      margin-top: 20px;
      text-align: center;
    }
  }
  
  