@font-face {
  font-family: 'Roboto';
  src: url('../css/fonts/Roboto-Regular.ttf') format('truetype');
}

*{
  font-family: 'Roboto', sans-serif;
}

header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    padding: $tam-base;
    background-color: #fff;
  
    a {
      display: flex;
      align-items: center;
  
      #logo {
        height: 50px;
        margin-right: 10px;
      }
  
      h1 {
        font-size: 28px;
        color: $azul-claro;
        margin: 0;
      }
    }
  
    nav {
      ul {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 2rem;
        list-style: none;
        margin: 0;
  
        li {
          a {
            font-size: 18px;
            text-decoration: none;
            color: $azul-claro;
          }
        }
      }
    }
  }
