#contenedor {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin: 25px 25%;
}

div > div {
    border: 5px solid black;
}

#imagen1 {
    width: 100px;
    height: 100px;
    background-image: url('img/cairo.png');
    background-size: 100% 100%;
    border-radius: 100% 100% 0 0;
}

#imagen2 {
    width: 60px;
    height: 200px;
    background-image: url('img/pascua.png');
    background-size: 100% 100%;
}

#imagen3 {
    width: 60px;
    height: 60px;
    background-image: url('img/italia.png');
    background-size: 100% 100%;
    border-radius: 100%;
}

#imagen4 {
    width: 100px;
    height: 100px;
    background: url('img/rio.png'), #acff03;
    background-size: 50px 60px;
    background-repeat: no-repeat;
}