@font-face {
    font-family: 'Stellar';
    src: url("../font/Stellar-Regular.otf");
  }

  body {
    font-family: "Stellar";
  }

#wrapper {
    background: #f2f3f5;
}

header, #banner, main {
    padding: 20px;
}

li a {
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

header {
    display: flex;
    align-items: center;
}

header nav {
    width: 100%;
}

.logo img {
    width: 80%;
} 

.nav-header {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-grow: 3;
}

.nav-header a {
    color: white;
}

.img-header {
    width: 40px;
    height: 40px;
}

.nav-header .home {
    display: flex;
    flex-direction: column;
    background: #008CC6;
    width: 100px;
    height: 75px;
    border-radius: 5px;
}

.nav-header .home:hover {
    opacity: 0.7;
  }
  

.nav-header .about {
    display: flex;
    flex-direction: column;
    background: #FF6914;
    width: 100px;
    height: 75px;
    border-radius: 5px;
}

.nav-header .about:hover {
    opacity: 0.7;
  }
  

.nav-header .blog {
    display: flex;
    flex-direction: column;
    background: #FFA000;
    width: 100px;
    height: 75px;
    border-radius: 5px;
}

.nav-header .blog:hover {
  opacity: 0.7;
}

.nav-header .contact {
    display: flex;
    flex-direction: column;
    background: #22C68B;
    width: 100px;
    height: 75px;
    border-radius: 5px;
}

.nav-header .contact:hover {
    opacity: 0.7;
  }

#banner {
    background: white;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#banner .adorno img {
    width: 100%;
}

.texto h1 {
    color: #008CC6;
}

.texto p {
    color: #CFCFCF;
}

.boton {
    display: inline-flex;
    background: #008CC6;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    opacity: 0.7;
}

main {
    display: flex;
    gap: 35px;
}

#seccion1 {
    background: #008CC6;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

#seccion2 {
    background: #FF6914;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

#seccion3 {
    background: #FFA000;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

.more {
    display: flex;
    justify-content: flex-end
}

.more img {
    border: 1px solid white;
    border-radius: 50%;
}

.more img:hover{
    opacity: 0.7;
}

.nav-footer {
    display: flex;
    justify-content: center;
    background: #CFCFCF;
    padding: 20px;
}

.nav-footer a {
    color: #008CC6;
    font-weight: bold;
    padding: 20px;
}

.nav-footer a:hover {
    text-decoration: underline;
}