header {
  display: flex;
  background-color: black;
  justify-content: space-between;
}
header .identidad-corporativa-small {
  display: flex;
}
header .identidad-corporativa-small .logo {
  background-image: url(../img/logo_small.png);
  width: 150px;
  height: 100px;
}
header .identidad-corporativa-small .nombre-empresa {
  position: relative;
  left: 30px;
  top: 25px;
}
header .identidad-corporativa-small .nombre-empresa #camiones {
  color: white;
  font-size: 25px;
}
header .identidad-corporativa-small .nombre-empresa #paco {
  color: red;
  font-size: 25px;
}
header .menu {
  position: relative;
  top: 35px;
  right: 10px;
}
header .menu #inicio {
  position: relative;
  right: 15px;
  color: orange;
  font-size: 20px;
  display: inline;
}
header .menu #contacto {
  color: white;
  font-size: 20px;
  display: inline;
}