@font-face {
    font-family: 'Stellar';
    src: url("../font/Stellar-Regular.otf");
  }

  p, h1 {
    font-family: "Stellar";
  }

#wrapper {
    background: #f2f3f5;
    max-width: 1200px;
    margin: 0 auto;
}



header, #banner, main {
    padding: 20px;
}

li a {
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

/*Header*/

.logo {
    align-self: center;
}

.logo img {
    max-width: 100%;
} 

.nav-header {
    align-items: center;
}

.nav-header a {
    color: white;
}

.img-header {
    width: 40px;
    height: 40px;
    justify-self: center;
}

.nav-header .home {
    background: #008CC6;
    width: 100px;
    height: 75px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
}

.nav-header .home:hover {
    opacity: 0.7;
  }
  

.nav-header .about {
    justify-content: center;
    background: #FF6914;
    width: 100px;
    height: 75px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
}

.nav-header .about:hover {
    opacity: 0.7;
  }
  

.nav-header .blog {
    flex-direction: column;
    background: #FFA000;
    width: 100px;
    height: 75px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
}

.nav-header .blog:hover {
  opacity: 0.7;
}

.nav-header .contact {
    flex-direction: column;
    background: #22C68B;
    width: 100px;
    height: 75px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
}

.nav-header .contact:hover {
    opacity: 0.7;
  }
  

/*Banner*/

#banner {
    background: white;
    
    align-items: center;
    box-shadow: 0px 12px 1px -5px #CFCFCF;
    margin-bottom: 20px;
}

#banner .adorno img {
    width: 100%;
}

.texto h1 {
    color: #008CC6;
}

.texto p {
    color: #CFCFCF;
}

.boton {
    display: inline-flex;
    background: #008CC6;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    opacity: 0.7;
}

/*Secciones*/

main {
    gap: 35px;
}


#seccion1{
    display: grid;
    background: #008CC6;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

#seccion2{
    display: grid;
    background: #FF6914;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

#seccion3{
    display: grid;
    background: #FFA000;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

.adorno {
    justify-self: flex-start;
}

main h1 {
    justify-self: flex-start;
}

.more {
    justify-self: flex-end;
}

.more img:hover {
    opacity: 0.7;
}

.more img{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
}

/*Footer*/

.nav-footer {
    background: #CFCFCF;
    padding: 20px 0;
    align-items: center;
    justify-items: center;
}

.nav-footer a {
    color: #008CC6;
    font-weight: bold;
    margin: 0 16px;
}

.nav-footer a:hover{
    text-decoration: underline;
}